<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
 
    <!-- IISNode handler -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
 
    <!-- Rewrite all incoming requests to server.js -->
    <rewrite>
      <rules>
        <rule name="NextJsApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
 
    <!-- Configure IISNode -->
    <iisnode
      node_env="production"
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
      devErrorsEnabled="true"
    />
 
  </system.webServer>
</configuration>