@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
}

.cartcount{
    background-color: #fff;
    padding: 2.5px 5px;
    border-radius: 100%;
    color: #000;
}